@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }


.myNavLink{
  @apply border-b-2 border-white 
}
.myNavLink:hover{
  @apply text-blue-700
}
.myNavLink.active{
  @apply border-blue-700 text-blue-700
}